form {
	padding: 1rem;
	background: #ebebeb;
}

input,
textarea {
	display: block;
	margin-top: 10px;
	font-size: 1rem;
	width: 250px;
}

button {
	display: block;
	margin-top: 10px;
}

span {
	color: red;
	font-size: 0.8em;
}
